@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Work Sans', sans-serif;;
}

html{
    font-size: 62.5%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    width: 100%;
    height: 100vh;
    background: rgb(133, 255, 249);
    justify-content: space-evenly !important;
    position: relative;
    clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
}
.logo{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 12rem;
    color: rgba(0,0,0,0.8);
}
.navbar{
    position: absolute;
    top: 3rem;
    right: 10%;
    font-size: 2rem;
}
.navbar a{
    color: rgba(0,0,0,0.8);
    display: inline-block;
    margin-left: 3rem;
    transition: transform .5s;
}
.navbar a:hover{
    transform: scale(1.5);
}
.Banner-section1{
    flex-direction: column; 
 }
.sec1h{
    font-size: 13rem;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.sec1p{
    font-size: 4rem;
    font-weight: 500;
    color: #000;
    letter-spacing: .1rem;
    margin: 6rem 0 4rem 0;
}
.sec1span{
    font-size: 3rem;
    color: #000;
    margin-bottom: 5rem;
    font-weight: 500;
    letter-spacing: .2rem;
}
.sec1b{
    padding: 2rem 3rem;
    color: #eee;
    background-color: #000;
    font-size: 2rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );
  transition: all .5s;
}
.sec1b:hover{
    clip-path: polygon(
    40% 15%,
    77% 15%,
    100% 10%,
    100% 90%,
    75% 85%,
    40% 85%,
    30% 100%,
    0 50%,
    0 50%,
    30% 0
  );
}
/* slideshow */
.slideshow{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;

}
.slideshow div{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 5s;
}

.slideshow div.change{
    opacity: 1;
}

/* end-slideshow */

/* iphone box */

.iphone-wrapper{
    perspective: 100rem;
}
.phone{
    width: 30rem;
    height: 55rem;
    /* background-color: rgb(202, 43, 43); */
    transform-style: preserve-3d;
    transition: all .5s;
}
.iphone-front
,.iphone-back{
    width: 90%;
    height: 90%;
    background-color: #fff;
    padding: 2.5rem;   
    position: absolute;
    transform-style: preserve-3d;
}
.iphone-front{
    transform: translateZ(5rem);
}
.iphone-front img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.iphone-front::before{
    content:"";
    width: 100%;
    height: 10rem;
    background-color: #fff;
    position: absolute;
    top: -10rem;
    left: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.iphone-front::after{
    content:"";
    width: 100%;
    height: 10rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.iphone-back{
    transform: translateZ(-5rem);
}
.iphone-back i{
    transform: rotateY(180deg);
    font-size: 15rem;
    color: rgb(5, 20, 102);
}
.iphone-back::before{
    content:"iphone";
    width: 10rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
    font-size: 2rem;
    color: rgb(197, 163, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}
.iphone-back::after{
    content:"iphone";
    width: 10rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(90deg);
    transform-origin: right;
    font-size: 2rem;
    color: rgb(197, 163, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* end-iphone box */
/* controls */
.controls{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    bottom: -7rem;
    left:9rem;
    color: rgb(131, 126, 126);
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: inset .2rem .2rem .2rem rgb(54, 52, 52),
    inset -.2rem -.2rem .2rem rgb(54, 52, 52);
}
.controls a{
    position: absolute;
    text-shadow: inset .1rem .1rem .1rem rgb(66, 63, 63),
    inset -.1rem -.1rem .1rem rgb(66, 63, 63);
}
.controls a:nth-child(1){
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.controls a:nth-child(2){
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.controls a:nth-child(3){
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.controls a:nth-child(4){
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.controls a:nth-child(5){
    top: 2rem;
    left: 2rem;
    transform: rotateZ(30deg);
}
.controls a:nth-child(6){
    bottom: 2rem;
    right: 2rem;
    transform: rotateZ(30deg);
}
/* end-controls */

/* section2 */
.section-2{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.section2h{
    font-size: 8rem;
    font-weight: 400;
    color: #000;
    position: relative;
}
/* .section2h::before{
    content: "";
    width: 90rem;
    height: 100vh;
    background: rgb(40,222,230);
    background: linear-gradient(180deg, rgba(40,222,230,1) 0%, rgba(255,255,255,1) 100%,
     rgba(109,109,128,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    transform:skewY(-50deg); 
    z-index: -1;  
} */
.iphoneimg{
    width: 70rem;
    height: 70rem;
    position: relative;
    padding: 1rem 2rem;
    background: rgb(40,222,230);
    background: linear-gradient(180deg, rgba(40,222,230,1) 0%, rgba(255,255,255,1) 100%,
     rgba(109,109,128,1) 100%);
    
}
.iphoneimg img:nth-child(1){
    opacity: 1;
}
.iphoneimg img:nth-child(2){
    opacity: 0;
}

.iphoneimg:hover img:nth-child(1){
    opacity: 0;
}
.iphoneimg:hover img:nth-child(2){
    opacity: 1;
}
.iphoneimg img{
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: contain;
    transition: all 1s;
}
.iphonebtn{
    justify-content: space-evenly;
    
}
.btn{
    width: 6rem;
    height: 6rem;
    background: rgb(18,18,19);
    background: linear-gradient(90deg, rgba(18,18,19,1) 0%, rgba(109,109,128,1) 100%,
     rgba(10,27,31,1) 100%);
    border-radius: 50%;
    margin: 0 3rem;
    position: relative;
}
.btn::before{
    content:"";
    width: 60%;
    height: 60%;
    border: 1px solid #ddd;
    border-radius: 1rem;
    position: absolute;
    z-index: 10;
}
.iphonebtn span{
    transform: scale(0);
    position: absolute;
    top: -3rem;
    font-size: 1.8rem;
    color: rgb(58, 53, 53);
    font-weight: 500;
    width: max-content;
    transition: all .5s;
}

.btn:hover span{
    transform: scale(1);
}
/* end-section2 */

/* section3 */
.section-3{
    width: 100%;
    height: 100%;
    padding: 15rem 0;
    background-color: #111;
    flex-direction: column;
}
.section3h{
    font-size: 10rem;
    font-weight: 200;
    color: aqua;
    margin-bottom: 10rem;
}
.mac{
    flex-direction: column;
    width: 80%;
    position: relative;
}
.mac img{
    width: 80%;
}
.loading-wrapper{
    position: absolute;
    width: 60%;
    height: 80%;
    top: 4rem;
    background: linear-gradient(rgba(255,255,255,.4)
    ,rgba(255,255,255,.4))
    ,url("/images/MacBook/macbook-1-desktop.png") center no-repeat;
    opacity: 0;
    
}
.change1 .loading-wrapper{
    opacity: 1;
    transition: opacity 1s 2s;
}
.macinfo{
    position: absolute;
    text-align: center;
    opacity: 0;
}
.change1 .macinfo{
    opacity: 1;
    transition: opacity .5s 4s;
}
.macinfo h1{
    font-size: 8rem;
    color: rgb(46, 247, 247);
    opacity: 1;
    margin-bottom: 2rem;
}
.macinfo p{
    font-size: 2rem;
    color: rgb(97, 92, 92);
    margin-bottom: 3rem;
}
.macinfo button{
    width: 25rem;
    height: 5rem;
    box-shadow: .1rem .1rem .5rem #444,-.1rem,-.1rem,.5rem #444;
    border: none;
    opacity: .8;
    cursor: pointer;
}
.loading{
    width: 100%;
    height: 100%;
    background-color: #000;
    flex-direction: column;
}
.change1 .loading{
    opacity: 0;
    transition: opacity 1s 3s;
}
.loading i{
    font-size: 10rem;
    color: #fff;
    margin-bottom: 3rem;
}
.progressbar{
    width: 20rem;
    height: .2rem;
    background-color: #ddd;
    border-radius: 5rem;
    position: relative;
}
.progressbar::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5rem;
    background-color: #fff;
}
.change1 .progressbar::after{ 
    width: 100%;
    transition: width 1s 2s;
}

.img1{
    transform: rotateX(-80deg);
    transform-origin: bottom;
    
}
.change1 .img1{
    transform: rotateX(0deg);
    transition: transform 2s;
}


/* end-section3 */
/* section4 */
.section4{
    height: 110vh;
    padding: 20vh 0;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}
.watch-cases{
    flex-direction: column;
    transition: all .5s;
}
.watch-bands{
    transition: all .5s;
}
.watch-bands img,
.watch-cases img{
    width: 35rem;
    height: 35rem;
    object-fit: contain;
}
.watches{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.watches > div{
    position: absolute;
}
.watch-control{
    position: absolute;
    background-color: rgb(216, 206, 206);
    color: rgb(28, 240, 240);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 3rem;
}
.c-top{
    top: 29rem;
}
.c-bottom{
    bottom: 28rem;
}
.c-left{
    left: 6rem;
}
.c-right{
    right: 6rem;
}
.watch-button{
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
    position: absolute;
    background-color: #222;
    bottom: 35rem;
    right: 60rem;
    color: rgb(189, 178, 178);
}
.hidden-control{
    opacity: 0;
    visibility: hidden;
}
/* end-section4 */